@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

:root {
  --brand-color: #7ae5fd;
  --background-color: #fff;
  --background-blue-color: #f1fdff;
  --background-footer-color: #f9fadf;
  --font-color: #000;
  --second-font-color: #73a6b1;
}

body {
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.header-section {
  display: flex;
  justify-content: space-between;
  padding: 5vh 5% 5vh 5%;
}

.logo {
  width: 4.06em;
  height: 4.06em;
}

.navigation-list {
  width: 45.7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item-center {
  margin-left: 3.89%;
  margin-right: 3.89%;
}

.nav-item {
  font-size: 1.125em;
  line-height: 0.96;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-button {
  text-transform: uppercase;
  padding: 1.31em 2.19em 1.31em 2.19em;
  background-color: var(--brand-color);
  border-radius: 10em;
  border: none;
}

.main-img-section {
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  padding-left: 7.29%;
}

.h1-main-section {
  color: var(--background-color);
  font-size: 4.06em;
  font-weight: 800;
  line-height: 0.95;
  letter-spacing: -1.3px;
  text-transform: uppercase;
  width: 40%;
}

.h3-main-section {
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30%;
}

.button-main-img-section {
  text-transform: uppercase;
  padding: 1.31em 2.19em 1.31em 2.19em;
  background-color: var(--background-color);
  border: none;
  border-radius: 10em;
}

.main-description-section {
  padding: 20vh 12% 20vh 12%;
  text-align: center;
}

.h2-description-section {
  font-size: 3.75em;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin: 0 0 0.25em 0;
}

.h3-description-section {
  font-size: 1.69em;
  margin: 0 0 0.37em 0;
}

.h4-description-section {
  color: var(--second-font-color);
  font-size: 1.25em;
}

.regular-section {
  padding: 0 4.93% 20vh 4.93%;
  text-align: center;
}

.regular-article {
  background-color: var(--background-blue-color);
  margin: 0 0 6.25vh 0;
  border-radius: 1vw;
  padding: 9.43vh 5.28%;
  display: flex;
  justify-content: space-between;
}

.regular-article-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 41%;
  text-align: left;
}

.h4-title {
  font-size: 2.88em;
  letter-spacing: -0.92px;
  text-transform: uppercase;
}

.h5-slogan {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0.5em 0 0.5em 0;
}

.description {
  font-size: 1.25em;
}

.slogan-img {
  border-radius: 1vw;
}

.mission {
  height: 61.5vh;
  padding: 27.5vh 6% 17.52vh 6%;
}

.article-mission {
  width: 86vw;
  background-color: var(--background-blue-color);
  height: 39vh;
  position: relative;
}

.mission-img-first {
  position: relative;
  left: 45vw;
  bottom: 58vh;
  width: 42vw;
}

.mission-img-second {
  position: relative;
  left: 10vw;
  bottom: 56vh;
  width: 31.53vw;
}

.mission-description {
  position: relative;
  top: 32%;
  font-size: 1.7em;
  width: 36vw;
  margin-left: 4.31vw;
}

.please-support {
  height: 52.5vh;
  padding: 0 4.93% 20vh 4.93%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h3-please-support {
  font-size: 3.75em;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin: 0 0 0.25em 0;
}

.description-please-support {
  color: var(--second-font-color);
  text-align: center;
  font-size: 1.25em;
  width: 46%;
  margin: 0 0 2.5em 0;
}

.our-goal {
  text-align: center;
  font-size: 1.69em;
  margin: 0 0 0.63em 0;
}

.list-goal {
  display: flex;
}

.goal-item {
  text-align: center;
  font-size: 3.75em;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  padding-right: 0.4em;
  padding-left: 0.4em;
}

.border-item {
  border-left: 2px solid var(--second-font-color);
  border-right: 2px solid var(--second-font-color);
}

.goal-button {
  margin-top: 3.12em;
}

.footer-section {
  background-color: var(--background-footer-color);
  height: 105.5vh;
  padding: 0 4.93% 20vh 4.93%;
}

.contacts-section {
  display: flex;
  align-items: top;
  justify-content: space-around;
  margin-bottom: 6.25vh;
}

.h3-footer {
  text-align: center;
  font-size: 3.75em;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin-top: 6.25vh;
}

.article-contacts {
  margin-top: 6.25vh;
}

.icons {
  width: 2.06em;
  height: 2.06em;
}

.paragraph-footer {
  width: 58%;
  font-size: 1.25em;
  margin: 0.56em 0 0 0;
}

.phone-number {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 3.56em 0;
}

.footer-subscription {
  background-color: var(--background-color);
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.img-footer {
  width: 37.57%;
  height: 43.5vh;
  margin: 10.31vh 6.45% 10.31vh 4.17%;
}

.subscribtion {
  width: 50%;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
}

.subscribtion-description {
  font-size: 1.69em;
  margin-top: 7.5vh;
  margin-bottom: 4.8vh;
  width: 65%;
}

.input-news-subscription {
  width: 27.6vw;
  padding: 1em 2.69em;
  border-radius: 10em;
  border: none;
  background-color: var(--background-footer-color);
  margin-bottom: 3.88vh;
  font-size: 1.25em;
}

.subscription-button {
  padding: 1em 2.69em;
  font-size: 1.125em;
  width: 34vw;
}
