@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

:root {
  --brand-color: #7ae5fd;
  --background-color: #fff;
  --background-blue-color: #e8fafd;
  --background-footer-color: #f9fadf;
  --font-color: #393838;
  --second-font-color: #73a6b1;
  --active-link-color: blue;
}

body {
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.header-section {
  border-bottom: 1px solid var(--brand-color);
  display: flex;
  justify-content: space-between;
  padding: 5vh 5%;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  right: 0;
}

.media-menu-button,
.media-menu-line {
  display: none;
}

.logo {
  width: 4.06em;
  height: 4.06em;
}

.navigation-list {
  width: 45.7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item-center {
  margin-left: 3.89%;
  margin-right: 3.89%;
}

.nav-item {
  font-size: 1.125em;
  line-height: 0.96;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item:hover {
  cursor: pointer;
  color: var(--active-link-color);
}

.nav-button {
  text-transform: uppercase;
  padding: 1.31em 2.19em 1.31em 2.19em;
  background-color: var(--brand-color);
  border-radius: 10em;
  border: none;
}

.nav-button:hover {
  cursor: pointer;
}

.main-img-section {
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  padding-left: 7.29%;
  margin-top: 9rem;
}

.mobile-h1-main-section {
  display: none;
}

.h1-main-section,
.mobile-h1-main-section {
  color: var(--background-color);
  font-size: 4.06em;
  font-weight: 800;
  line-height: 0.95;
  letter-spacing: -1.3px;
  text-transform: uppercase;
  width: 40%;
}

.h3-main-section {
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30%;
}

.button-main-img-section {
  text-transform: uppercase;
  padding: 1.31em 2.19em 1.31em 2.19em;
  background-color: var(--background-color);
  border: none;
  border-radius: 10em;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.button-main-img-section:hover {
  cursor: pointer;
}

.main-description-section {
  padding: 20vh 12% 20vh 12%;
  text-align: center;
}

.mobile-h2-description-section {
  display: none;
}

.h2-description-section,
.mobile-h2-description-section {
  font-size: 3.75em;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin: 0 0 0.25em 0;
}

.h3-description-section {
  font-size: 1.69em;
  margin: 0 0 0.37em 0;
}

.h4-description-section {
  color: var(--second-font-color);
  font-size: 1.25em;
}

.regular-section {
  padding: 0 4.93% 20vh 4.93%;
  text-align: center;
}

.regular-article {
  background-color: var(--background-blue-color);
  margin: 0 0 6.25vh 0;
  border-radius: 1vw;
  padding: 9.43vh 5.28%;
  display: flex;
  justify-content: space-between;
}

.regular-article-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 41%;
  text-align: left;
  flex-wrap: wrap;
}

.h4-title {
  font-size: 2.88em;
  letter-spacing: -0.92px;
  text-transform: uppercase;
  word-break: break-all;
  width: 90%;
}

.h5-slogan {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0.5em 0 0.5em 0;
}

.description {
  font-size: 1.25em;
}

.slogan-img {
  border-radius: 1vw;
  max-width: 40.62vw;
  max-height: 53vh;
  margin-top: auto;
  margin-bottom: auto;
}

.mission {
  height: 61.5vh;
  padding: 27.5vh 6% 17.52vh 6%;
}

.article-mission {
  width: 86vw;
  background-color: var(--background-blue-color);
  min-height: 45vh;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.mission-img-first {
  position: absolute;
  left: 45vw;
  bottom: 0.1vh;
  width: 42vw;
}

.mission-img-second {
  position: absolute;
  left: 50vw;
  bottom: 0.1vh;
  width: 30vw;
}

.mission-description {
  font-size: 1.7em;
  width: 36vw;
  margin-left: 4.31vw;
}

.please-support {
  min-height: 45vh;
  height: auto;
  padding: 0 4.93% 20vh 4.93%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h3-please-support {
  font-size: 3.75em;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin: 0 0 0.25em 0;
  text-align: center;
}

.description-please-support {
  color: var(--second-font-color);
  text-align: center;
  font-size: 1.25em;
  width: 46%;
  margin: 0 0 2.5em 0;
}

.our-goal {
  text-align: center;
  font-size: 1.69em;
  margin: 0 0 0.63em 0;
}

.list-goal {
  display: flex;
}

.goal-item {
  text-align: center;
  font-size: 3.75em;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  padding-right: 0.4em;
  padding-left: 0.4em;
}

.border-item {
  border-left: 2px solid var(--second-font-color);
  border-right: 2px solid var(--second-font-color);
}

.goal-button {
  margin-top: 3.12em;
}

.footer-section {
  background-color: var(--background-footer-color);
  min-height: 105.5vh;
  height: auto;
  padding: 0 4.93% 20vh 4.93%;
}

.contacts-section {
  display: flex;
  align-items: top;
  justify-content: space-around;
  margin-bottom: 6.25vh;
}

.h3-footer {
  text-align: center;
  font-size: 3.75em;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  word-break: break-all;
  margin: auto;
  width: 50%;
}

.article-contacts {
  margin-top: 2vh;
  width: 50%;
}

.icons {
  width: 2.06em;
  height: 2.06em;
  margin-top: 3em;
}

.paragraph-footer {
  width: 58%;
  font-size: 1.25em;
  margin: 0.56em 0 0 0;
}

.phone-number {
  font-size: 1.25em;
  font-weight: 600;
}

.footer-subscription {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-footer {
  max-width: 37.57%;
  max-height: 43.5vh;
  margin: 10.31vh 6.45% 10.31vh 4.17%;
}

.email-img {
  max-width: 100%;
  max-height: 100%;
}

.subscribtion {
  width: 50%;
  padding: 5vh 0 2vh 0;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
}

.subscribtion-description {
  font-size: 1.69em;
  margin-bottom: 4.8vh;
  width: 65%;
}

.input-new-subscription {
  width: 27.6vw;
  padding: 1em 2.5vw;
  border-radius: 10em;
  border: none;
  background-color: var(--background-footer-color);
  margin-bottom: 3.88vh;
  font-size: 1.25em;
}

.subscription-button {
  padding: 1em 2.69em;
  font-size: 1.125em;
  width: 32.6vw;
}

.support-section {
  margin-top: 9rem;
  background-color: var(--background-blue-color);
  min-height: 60vh;
  padding: 2vh 4.93%;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.h3-support {
  text-align: left;
  margin: 5vh 0 0 0;
  width: 80%;
}
@media screen and (max-width: 650px) {
  .header-section {
    width: 100vw;
    padding: 4vh 5%;
  }
  .logo {
    visibility: hidden;
  }
  .nav-item {
    display: none;
  }
  header .nav-button {
    display: none;
  }
  .media-menu-button {
    width: 3.13em;
    height: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
  }
  .media-menu-button:hover {
    cursor: pointer;
  }
  .media-menu-line {
    display: block;
    width: 3.13;
    height: 0.25em;
    background-color: var(--brand-color);
  }
  .main-img-section {
    background-image: url(../images/media-1.png);
    justify-content: end;
    height: 110vh;
  }
  .main-img-section .h1-main-section {
    display: none;
  }
  .main-img-section .mobile-h1-main-section {
    display: block;
    font-size: 2.5em;
    width: 90%;
  }
  .main-img-section .h3-main-section {
    width: 78%;
  }
  .button-main-img-section {
    margin-bottom: 2em;
  }
  .main-description-section {
    padding: 8vh 6%;
    text-align: left;
  }
  .h2-description-section {
    display: none;
  }
  .mobile-h2-description-section {
    display: block;
    font-size: 2.5em;
  }
  .h3-description-section {
    font-size: 1.25em;
    margin: 0 0 0.37em 0;
  }
  .regular-section {
    padding: 0 4% 6vh 4%;
  }
  .regular-article {
    padding: 6vh 5.28%;
    flex-direction: column-reverse;
  }
  .slogan-img {
    border-radius: 1vw;
    max-width: 90vw;
    max-height: 53vh;
  }
  .regular-article-description {
    max-width: 100%;
  }
  .h4-title {
    width: 100%;
    font-size: 1.88em;
    letter-spacing: -0.92px;
    /* word-break: normal; */
    margin-top: 2vh;
  }
  .mission {
    min-height: 50vh;
    padding: 4vh 4%;
  }
  .article-mission {
    width: 100%;
    min-height: 54vh;
    height: auto;
    border-radius: 1vw;
    flex-direction: column;
  }
  .mission-description {
    font-size: 1.25em;
    width: 86%;
    margin: 3vh 4vw;
  }
  .mission-img-first {
    position: absolute;
    left: 0;
    bottom: 0.1vh;
    width: 100%;
  }
  .mission-img-second {
    position: absolute;
    left: 15%;
    bottom: 0.1vh;
    width: 70%;
  }
  .please-support {
    padding: 0 4.93% 10vh 4.93%;
  }
  .h3-please-support {
    font-size: 2.5em;
    word-break: break-all;
    margin: 0 0 0.25em 0;
  }
  .description-please-support {
    font-size: 1em;
    width: 86%;
    margin-bottom: 3em;
  }
  .our-goal {
    font-size: 1.25em;
    margin: 0 0 0.63em 0;
  }
  .goal-item {
    font-size: 3em;
    padding-right: 0.3em;
    padding-left: 0.3em;
  }
  .contacts-section {
    flex-direction: column;
  }
  .article-contacts {
    width: 100%;
  }
  .paragraph-footer {
    width: 90%;
    font-size: 1.15em;
  }
  .phone-number {
    line-height: 1.3;
  }
  .footer-section {
    padding-top: 3vh;
    padding-bottom: 4vh;
  }
  .h3-footer {
    font-size: 3.125em;
    width: 98%;
  }
  .footer-subscription {
    flex-direction: column;
  }
  .img-footer {
    max-width: 100%;
  }
  .subscribtion {
    width: 100%;
    padding-top: 1vh;
  }
  .subscribtion-description {
    font-size: 1.25em;
    margin-left: 4%;
    width: 92%;
  }
  .input-new-subscription {
    width: 80vw;
    margin-left: 4%;
  }
  .subscription-button {
    width: 85vw;
  }
}
.paragraph-support {
  width: 100%;
  font-size: 1.25em;
  margin: 0.56em 0 0 0;
}

.support-contacts {
  margin-top: 6.25vh;
  width: 80%;
}

.input-support {
  background-color: var(--background-color);
}

.input-area {
  background-color: var(--background-color);
  height: 20vh;
  border-radius: 2rem;
  width: 27.6vw;
  padding: 1em 2.5vw;
  border: none;
  margin-bottom: 3.88vh;
  font-size: 1.6em;
}

.not-visible {
  visibility: hidden;
}

.help-img-section {
  background-image: url(../images/1-1.png);
  background-position: center right;
  min-height: 82vh;
  height: auto;
  padding-bottom: 2em;
}

.h3-help-section {
  font-weight: 600;
  width: 70%;
  margin-top: 2em;
  margin-bottom: 0.7em;
}

.description-help {
  width: 90%;
  margin-bottom: 0.7em;
}

.button-goal {
  margin-top: 2em;
}

.h3-goal {
  text-transform: lowercase;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.h3-goal::first-letter {
  text-transform: uppercase;
}
